

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  position: relative;
  width: 100%;
}
.gridContainer {
  align-items: flex-end;
  display: flex;
  width: 100%;
}

.item1 {
  flex-grow: 1;
}
.item2 {
  padding: 20px;
  width: 340px;
  background-color: red;
}
.svgparent {
  width: 65px;
}
.item3 {
  height: 427px;
  width: 100%;
  margin-top: 40px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
}

.tag {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  background-color: #ebebeb;
  padding: 8px 12px;
  border-radius: 30px;
  width: fit-content;
}

.box {
  display: flex;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
}

.boxHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.userDetails {
  margin-left: 8px;
}

.userName {
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding-right: 72px;
  width: 100%;
}

.userRole {
  color: #556170;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
}

.company {
  text-decoration: underline;
  margin-left: 5px;
}

.parentQuote {
  align-items: flex-end;
  display: flex;
  padding-top: 15px;
  position: relative;
}
.quote {
  color: #556170;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  overflow: hidden;
}

.readMore {
  background: transparent;
  border: solid #020303;
  border-width: 0 0 1px;
  color: #020303;
  cursor: pointer;
  display: inline;
  flex-shrink: 0;
  font-family: inherit;
  font-size: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-left: 8px;
  padding: 0;
  position: relative;
  transition-duration: 0.1s;
  transition-property: color, border;
  transition-timing-function: ease-in-out;
}
.readMore:hover {
  border-color: #f2cb00;
  color: #f2cb00;
}
.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 545px) {
  .title {
    font-size: 46px;
  }
}
@media (min-width: 545px) {
  .item3 {
    margin-top: 20px;
  }
}

@media (min-width: 1025px) {
  .title {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .item2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .item2 {
    background-color: #fafafa;
    border-radius: 8px;
    flex-shrink: 0;
    margin: 25px 0 0 40px;
  }
}
