.all_wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 1rem;
}

.swiper_container {
  padding-inline: 3rem;
}
@media (max-width: 544px) {
  .swiper_container {
    overflow: visible;
    width: 400px;
  }
}

.custom_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(40px);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
  border-radius: 50%;
}

.prev_button {
  left: 20px;
}

.next_button {
  right: 10px;
}

@media (min-width: 545px) {
  .swiper_container {
    width: auto;
  }

  .prev_button {
    left: 50px;
  }

  .next_button {
    right: 70px;
  }
}