@media (min-width: 1360px) {
  .toolbar {
    padding-inline: 0 !important;
  }
}

.desktop_link {
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-block: 28px;
  white-space: nowrap;
}
.desktop_link::after {
  background-color: #ffdb00;
  bottom: 0;
  content: "";
  height: 4px;
  left: auto;
  margin: 0;
  position: absolute;
  right: 0;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.15s ease-out;
  width: 100%;
}
.desktop_link:hover::after {
  transform: scaleX(1);
}
