/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
body {
  --accent-dark: #f2cb00;
  --accent-main: #ffdb00;
  --accent-light: #ffe963;

  --primary-dark: #020303;
  --primary-light: #fff;

  --secondary-light: #fafafa;

  --container-px: 1.25rem;
  --container-py: 3.75rem;

  --header-height: 145px;
}

/* ====== Resets ====== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
