.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  position: relative;
  width: 100%;
  padding: 40px 0;
}

.item2 {
  max-width: 100%;
}
.box {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}
.parentQuote {
  display: flex;
  padding-top: 15px;
  position: relative;
  flex-direction: column;
}
.quote {
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 20px;
}
.country {
  align-items: center;
  color: #556170;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  justify-content: flex-start;
  line-height: 1.6;
}
.countryImage {
  height: 18px;
  margin-right: 12px;
  object-fit: cover;
  width: 18px;
}

.readMore {
  background: transparent;
  border: solid #020303;
  border-width: 0 0 1px;
  color: #020303;
  cursor: pointer;
  display: inline;
  flex-shrink: 0;
  font-family: inherit;
  font-size: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-left: 8px;
  padding: 0;
  position: relative;
  transition-duration: 0.1s;
  transition-property: color, border;
  transition-timing-function: ease-in-out;
}
.readMore:hover {
  border-color: #f2cb00;
  color: #f2cb00;
}

.boxHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  line-height: 1.6;
  object-fit: cover;
  width: 60px;
}

.userDetails {
  margin-left: 8px;
}
.userName {
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding-right: 72px;
  width: 100%;
}

.userRole {
  color: #556170;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  margin: 5px 0;
}
.countryParent {
  align-items: center;
  color: #556170;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  justify-content: flex-start;
  line-height: 1.6;
  margin-top: 10px;
}

.company {
  background: transparent;
  border: solid #020303;
  border-width: 0 0 1px;
  color: #020303;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding: 0;
  position: relative;
  transition-duration: .1s;
  transition-property: color, border;
  transition-timing-function: ease-in-out;
  margin-left: 10px;
}
.company:hover{
  border-color: #ffdb00;
  color: #ffdb00;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 1.3;
  margin-bottom: 20px;
}
.svgparent {
  width: 65px;
}

@media (min-width: 768px) {
  .item2 {
    border-radius: 8px;
    flex-shrink: 0;
    margin: 25px 0 0 40px;
  }
}
@media (min-width: 886px) {
  .item2 {
    padding: 0;
  }
}
@media (max-width: 960px) {
  .item2 {
    max-width: 826px;
  }
}
@media (min-width: 545px) {
  .title {
    margin-bottom: 40px;
    font-size: 32px;
  }
}
@media (min-width: 1025px) {
  .title {
    font-size: 36px;
  }
  .quote {
    font-size: 16px;
  }
  .userRole p {
    font-size: 16px;
  }
}
