.contactUs {
    position: relative;
    min-height: 409px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  
  .contactUsImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
  }
  
  .contactUsContent {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 0 auto;
    top: 80px
  }
  .contactUsContent h2 {
    font-size: 42px;
    font-weight: 700;
  }
  
  .contactUsContent p {
    font-size: 16px;
    font-weight: 400;
text-align: start;
  }
  

  @media (min-width: 545px) {
    .contactUsContent h2 {
        font-size: 52px;
      }
  }

  
  @media (min-width: 1025px) {
    .contactUsContent h2 {
        font-size: 74px;
      }
      .contactUsContent p {
        font-size: 22px;
      }
  }
  @media (min-width: 545px) {
    .contactUs{
        min-height: 577px;
    }
}
@media (min-width: 961px) {
    .contactUs {
        min-height: 566px;
    }
}