.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  position: relative;
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
}

.Item-module--gridItems--ef819 {
  grid-column: span 6;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .Item-module--gridItems--ef819 {
    grid-column: span 12;
  }
}

.ProjectGalleryCard-module--item--d0f20 {
  overflow: hidden;
  width: 100%;
}

.ProjectGalleryCard-module--content--513b2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.ProjectGalleryCard-module--pictureWrapper--b2b15{
  display: block;
  overflow: hidden;
}

.ProjectGalleryCard-module--img--11f55 {
  transition: transform 0.3s ease;
  width: 100%;
}

.Item-module--gridItems--ef819:hover .ProjectGalleryCard-module--img--11f55 {
  transform: scale(1.1);
}

.ProjectGalleryCard-module--title--f49ae {
  color: #000;
  font-family: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 10px;
}